main{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  min-height: 3000px;
}

a{
  text-decoration: none;
  color: #000;
  position: relative;
}

ul{
  list-style: none;
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
ul li{
  position: relative;
}
ul a{
  text-transform: uppercase;
}

ul a:hover{
  color: blue;
}


.dropdown{
  display: none;
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: green;
}

.header-links:hover .dropdown{
  display: block;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: grey;

}
.content{
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  min-height: 400px;
  background-color: darkgray;
}
body div{
  background-color: #009688;
  text-align: center;
  vertical-align: middle;
}


.first{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 20px;
  grid-template-areas: "fs sc"
                       "fs th"
                       "flex flex";
  margin: 40px 0;
}

.first .ft{
  grid-area: fs;
}
.first .sc{
  grid-area: sc;
}
.first .th{
  grid-area: th;
}

.first .flex{
  grid-area: flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.flex div{
  flex-basis: 20%;
}



main div:hover{
  background-color: aqua;
}

main button{
  margin-top: 100px;
  padding: 10px;
  text-transform: uppercase;
  background-color: white;
}

main button:hover{
  background-color: burlywood;
}

main button:active{
  outline: none;
  transform: rotate(30deg);
}



@media only screen and (max-width: 720px){
  .content{
    max-width: 100%;
  }
  .first{
    grid-template-areas: "flex flex"
                         "th fs"
                         "sc fs";
  }
  .first .flex{
    flex-direction: row-reverse;
  }
}